<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>Query Example 2</h1>
  <p>
      This query example lists artists by genre and then allows the user
      create a genre-specic show by placing the chosen artists into a venue.
  </p>

  <p>
      The example runs the following query:
  </p>
  <p>
    SELECT a.name as artist_name, a.genre as artist_genre, a.venue_id as venue_id
    FROM artist a
    ORDER BY artist_genre
    ;
  </p>

  Output:
  <div>venue, artist_name, genre</div>
  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <p>
    Then allows the user to update the venue_id of chosen artist name:
  </p>

  <form method="POST" action="/update_artist_venue">
    <p>Update venue_id of artist, (artist_name, venue_id): 
      <input type="text" name="artist_name"> 
      <input type="number" name="venue_id"> 
      <input type="submit" value="Add">
    </p>
</form>

<p><a href="example3">Go to query example 3 to display your new show</a></p>
<p><a href="/">Go to back to index</a></p> 
  
</body>

</html>  