<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to our music manager database platform!</h1>
  <div>This database application allows managers to view all of their respective artists 
    and perform queries to display information about artists' setlists and songs.
  The application also enables managers to perform queries to reveal how the artists,
setlists, and songs are organized into certain venues for shows, as well as how the venue 
seat occupancies interact with their respective ticket holders.</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p>These are all the entity tables in our database</p>  
<p><a href="manager">Go to the Manager table</a></p>
<p><a href="artist">Go to the Artist table</a></p>
<p><a href="setlist">Go to the Setlist table</a></p>
<p><a href="song">Go to the Song table</a></p>
<p><a href="venue">Go to the Venue table</a></p>
<p><a href="seat">Go to the Seat table</a></p>
<p><a href="ticket_holder">Go to the Ticket Holder table</a></p>


<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
