<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to our music manager database platform!</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="manager">Go to the manager table</a></p>
<p><a href="artist">Go to the artist table</a></p>
<p><a href="setlist">Go to the setlist table</a></p>
<p><a href="song">Go to the song table</a></p>
<p><a href="venue">Go to the venue table</a></p>
<p><a href="seat">Go to the artist table</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
